*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{

}
html{

    height: 100%;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    color: #333;
    font-size: 14px;

}